---
layout: default
---

<div class="categories">
    {% assign category_names_in_order = "Technology,Personal" | split: ',' %}

    {% for category_name in category_names_in_order %}
        <h1 class="category-head">{{ category_name | capitalize }}</h1>
            <div class="posts">

              {% for post in site.categories[category_name] %}
                <article class="post">

                  <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

                  <div class="excerpt-text">
                    {{ post.excerpt }}
                  </div>

                  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
                </article>
              {% endfor %}
            </div>
    {% endfor %}
</div>
