---
layout: page
title: Stories
permalink: /stories/
order: 2
---

{% assign category_name = 'Stories' %}
<div class="posts">

  {% for post in site.categories[category_name] %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      <div class="excerpt-text">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>


<!-- <ul class="content-listing ">
  {% for post in site.posts %}
      <li class="listing">
        <hr class="slender">
        <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="contrast">{{ post.title }}</h3></a>
        <br><span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span>  <br/>
        <div>{{ post.excerpt }}</div>
      </li>
  {% endfor %}
</ul> -->
