<header>

  <nav class="group">
    <a href="{{site.baseurl}}/"><img class="badge" src="{{site.baseurl}}/assets/images/ankit.jpeg" alt="CH"></a>
    <!-- <div>
        <a href="{{site.baseurl}}/">{{ site.name }}</a>
        <a href="">{{ site.description }}</a>
    </div> -->

    {% assign my_array = "Archives,Stories,Technology,हिन्दी,About" | split: ',' %}

    {% assign sorted_pages = site.pages | sort: "order" %}

    	{% for node in sorted_pages %}

    	    {% if node.url == page.url and my_array contains node.title %}
    	      <a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">{{node.title}}</a>
    	    {% elsif node.url != page.url and my_array contains node.title %}
    	      <a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
    	    {% endif %}

    	{% endfor %}
  </nav>
  {% include analytics.html %}

</header>
